# Smallest and bigest screen using drop_duplicates() method

In [12]:
import pandas as pd

dfCmt = pd.read_csv("laptop_price.csv", encoding = "unicode_escape")
dfCmt

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

In [13]:
dfS = dfCmt[["Company","Inches", "Price_euros"]]
dfS

     Company  Inches  Price_euros
0      Apple    13.3      1339.69
1      Apple    13.3       898.94
2         HP    15.6       575.00
3      Apple    15.4      2537.45
4      Apple    13.3      1803.60
...      ...     ...          ...
1298  Lenovo    14.0       638.00
1299  Lenovo    13.3      1499.00
1300  Lenovo    14.0       229.00
1301      HP    15.6       764.00
1302    Asus    15.6       369.00

[1303 rows x 3 columns]

In [14]:
dfS.sort_values("Inches", inplace = True)
dfS

/tmp/ipykernel_57572/903499168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfS.sort_values("Inches", inplace = True)

     Company  Inches  Price_euros
1114  Lenovo    10.1       549.00
1126  Lenovo    10.1       479.00
1082  Lenovo    10.1       646.27
50    Lenovo    10.1       319.00
944   Lenovo    11.3      1299.00
...      ...     ...          ...
1129      HP    17.3      1129.00
578      MSI    17.3      2729.00
257       HP    17.3      1059.00
1136      HP    17.3      3949.40
177      MSI    18.4      2799.00

[1303 rows x 3 columns]

In [15]:
dfSsS = dfS.drop_duplicates("Company", keep = "first")
dfSsS # Smallest

        Company  Inches  Price_euros
1114     Lenovo    10.1        549.0
461        Acer    11.6        435.0
455        Dell    11.6        479.0
677          HP    11.6        495.0
515        Asus    11.6        245.0
429    Mediacom    11.6        299.0
430     Samsung    11.6        269.0
1234      Apple    11.6        959.0
472      Google    12.3       1275.0
421       Chuwi    12.3        449.0
963     Toshiba    12.5       1790.0
816       Razer    12.5       1799.0
170      Huawei    13.0       1349.0
192      Xiaomi    13.3        999.9
1120       Vero    13.3        196.0
104   Microsoft    13.5       1340.0
909          LG    14.0       1899.0
785         MSI    14.0       1891.0
983     Fujitsu    15.6        649.0

In [16]:
dfBsS = dfS.drop_duplicates("Company", keep = "last")
dfBsS

        Company  Inches  Price_euros
437      Google    12.3      2199.00
214      Huawei    13.0      1499.00
449   Microsoft    13.5      2589.00
626    Mediacom    14.0       239.00
1041       Vero    14.0       210.80
3         Apple    15.4      2537.45
678          LG    15.6      2299.00
606     Toshiba    15.6      1399.00
593     Samsung    15.6      1699.00
483       Chuwi    15.6       248.90
623     Fujitsu    15.6       799.00
514      Xiaomi    15.6      1399.95
196       Razer    17.3      6099.00
260        Dell    17.3      1142.00
254        Acer    17.3       702.00
238        Asus    17.3      3890.00
577      Lenovo    17.3      2663.00
1136         HP    17.3      3949.40
177         MSI    18.4      2799.00